[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastapi = "*"
lxml = "*"
psycopg2 = "*"
python-dotenv = "*"
requests = "*"
uvicorn = "*"
pypika = "*"

[requires]
python_version = "3.8"
